<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>激活账号</title>
    <link rel="stylesheet" type="text/css" href="static/front/css/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <p>
            <b th:text="${email}">xxx@xxx.com</b>,您好！
        </p>
        <p>
            您正在注册FantasyBlog，这是一封激活邮件，请点击
            <a th:href="${url}">此链接</a>
            激活您的访客账号！
        </p>
    </div>
    <!--live2D-->
    <div class="waifu">
        <div class="waifu-tips"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
    <script src="static/front/js/waifu-tips.js"></script>
    <script src="static/front/js/live2d.js"></script>
    <script type="text/javascript">initModel("")</script>
</body>
</html>