<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fantasyblog.dao.MessageMapper">
    <select id="listPreviewByPage" resultType="message">
        select content, nickname, link, avatar, email
        from t_message
        where status &lt;&gt; 0
        order by create_time desc
    </select>

    <select id="listTableByPage" resultType="message"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select id,pid,user_id,content,nickname, link, avatar, email,status,create_time,browser,os,address,request_ip
        from t_message
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        order by create_time desc
    </select>
</mapper>