<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fantasyblog.dao.PhotoMapper">
    <sql id="tableColumn">
        id
        ,url,description,sort,display,create_time,update_time
    </sql>
    <select id="listTableBYPage" resultType="photo"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="tableColumn"/>
        from t_photo
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

    <update id="updateID">
        set
        @i = 0;
        update t_photo
        set id =(@i:=@i+1);
        alter table t_photo auto_increment=0;
    </update>
</mapper>
