<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fantasyblog.dao.RoleMapper">
    <sql id="tableColumn">
        r.id,r.role_name,r.description,r.sort,r.color,r.status,r.create_time,r.update_time,count(ru.role_id) userCount
    </sql>
    <select id="listTableByPage" resultType="role" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="tableColumn"/>
        from sys_role r join sys_role_user ru on r.id = ru.role_id
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        group by r.id
    </select>
</mapper>
